/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/**
 * START
 *
 */
html { font-size: 2vw; }
body {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    color: #bababa;
    background-color: #242c33;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
a { color: #bababa; }
.navigation {
    background-color: #becdd7;
    width: 100vw;
    display: block;
    height: auto;
    position: fixed;
    z-index: 999;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.navigation:after {
    content: "";
    display: block;
    padding-bottom: 4vw;
}
.navigation a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    background: transparent;
    overflow: hidden;
    float: left;
    font-size: 1.2vw;
    height: 1.2vw;
    padding: 1.4vw 0vw 1.4vw 2vw;
}
.navigation a:hover {
    color: #35414c;
}
.navigation a.icon {
    background: #ffffff;
    color: #35414c;
    padding: 1.4vw 1.5vw 1.4vw 1.5vw;
}
.navigation a.icon:hover {
    background: #35414c;
    color: #ffffff;
}
.container h3 {
    font-size: 3vw;
    margin-bottom: 2vw;
    opacity: .5;
}
.container h3 :after {
    content: "";
    display: table;
    clear: both;
}
.container_row {
    background-color: #35414c;
    width: 100vw;
    display: block;
    padding-top: 3vw;
}
.container {
    width: 91vw;
    display: block;
    padding: 6vw 4.5vw;
}
.container a {
    color: #bababa;
}

.cards {
    width: 100%;
    display: block;
}
.cards:after {
    content: "";
    display: table;
    clear: both;
}
.card {
    box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    float: left;
    width: 21.5vw;
    height: 23vw;
    background-color: #ffffff;
    margin-right: 1vw;
    margin-bottom: 1vw;
    position: relative;
    overflow: hidden;
    opacity: 0.8;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    opacity: 1;
}
.card .image {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    overflow: hidden;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center center;
}
.card .title a {
    display: block;
    padding: 10%;
    position: absolute;
    float: left;
    text-decoration: none;
    color: #ffffff;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 1);
    width: 80%;
    height: 70%;
}
.card .details {
    margin-top: 19vw;
    padding: 1vw 2vw;
    position: absolute;
    float: left;
    width: 18vw;
    background-color: #ffffff;
}
.card .details .date {
    font-size: 1.1vw;
    float: left;
}
.card .details .check {
    float: left;
}
.card .details .check a {
    font-size: 3vw;
    margin-top: -.5vw;
    display: block;
}
.card .details .check a:hover {
    color: #4ea864;
}
.card .details .delete {
    float: right;
}
.card .details .delete a {
    font-size: 3vw;
    margin-top: -.5vw;
    display: block;
}
.card .details .delete a:hover {
    color: #cc0000;
}
.footer {
    text-align: right;
    position: fixed;
    bottom: 0;
    height: 3.2vw;
    left: 0;
    width: 92vw;
    background-color: #fff;
    padding: 0 4vw;
}
.footer a {
    color: #4c5c67;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1vw 1vw;
    font-size: 1.2vw;
}
.hidden {
    display: none;
}
.postcard_tab {
    width: 50%;
    height: auto;
    float: left;
    margin-top: -3vw;
}
.tab_right {
    text-align: right;
    float: right;
}
.postcard_tab a {
    padding: .3em 1em;
    padding-left: 0;
    font-size: 1.8vw;
    text-decoration: none;
    text-transform: uppercase;
}
.tab_right a {
    padding-right: 0;
    padding-left: 1em;
}
.tab_icon:hover i {
    color: #0091e1;
}
.tab_icon:hover span {
    opacity: 0.7;
}

.postcard_wrap {
    position: relative;
    width:100%;
    height: auto;
}
.postcard_wrap:after {
    content: "";
    display: block;
    padding-bottom: 60%;
}
.postcard_text {
    font-family: "Times New Roman", Times, serif;
    cursor: move;
    position:absolute;
    height: 100px;
    width: 60%;
    font-size: 2em;
    color: #ffffff;
}
.postcard_content {
    width: 100%;
    height: 100%;
}
.postcard_image {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid #444444;
    background-repeat: no-repeat;
}
#upload_error_panel,
#ajax_response_panel {
    width: 30%;
    height: auto;
    position: absolute;
    top: 4vw;
    left: auto;
    right: 0;
    background-color: #222222;
    opacity: 0.9;
    display: none;
    z-index: 999;
}
#upload_error,
#ajax_response {
    padding: 0.3em;
    font-size: 0.4em;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
}
.upload_error_panel_close,
.ajax_response_panel_close {
    float: right;
    margin: 0.3em;
    cursor: pointer;
    color: #cc0000;
}
.file_error span {
    background-color: #FFC0CB;
}
input[name=subject] {
    display: none;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.half {
    width:50%;
    margin-bottom: 2vw;
    float: left;
}
.half .new_postcard {
    width: 100%;
    max-width: 100%;
}
.image_frame {
    padding: 2vw;
    border: 1px solid #B8B6B6;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}
input[type=text],
textarea {
    border-radius: 3px;
    width: 100%;
    max-width: 80%;
    padding: 1vw;
    margin-bottom: 2vw;
    font-size: 1.8vw;
    font-family: inherit;
    outline: none;
    background: #fff;
    color: #525865;
    border: 1px solid #d1d1d1;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
}
textarea {
    height: 8vw;
}
input:hover,
textarea:hover {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}
input:focus,
textarea:focus {
    color: #4b515d;
    border: 1px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.button,
input[type=submit],
input[type=button],
input[type=file],
button {
    border-radius: 3px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    font-size: 1.5vw;
    font-weight: 700;
    padding: .8vw 2vw;
    margin-bottom: 2vw;
    border: 1px solid #d1d1d1;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #76949f;
}
.button:hover,
input[type=submit]:hover,
input[type=button]:hover,
input[type=file]:hover,
button:hover {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    background-color: #4c5c67;
    color: #ffffff;
}
.button:active,
input[type=submit]:active,
input[type=button]:active,
input[type=file]:active,
button:active {
    box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
    background-color: #242c33;
    color: #ffffff;
}
input[type=file] {
    width: 100%;
    max-width: 76%;
}
hr {
    clear: both;
    visibility: hidden;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
hr:after {
    content: "";
    display: table;
    clear: both;
}
.draggable:focus {
    outline: 1px dotted #333333;
    caret-color: transparent;
    cursor: move;
    opacity: .9;
}

.resizable:focus {=
    outline: 1px dotted #333333;
}
.draggable.not_draggable {
    caret-color: #cc0000;
    background-color: #ffffff;
    color: #222222;
    cursor: text;
}
.not_draggable {
    height: auto;
}
.edit_button {
    top: 2px;
    left: auto;
    right: 2px;
    bottom: auto;
    position: absolute;
    z-index: 100;
    opacity: 0.9;
    -moz-user-select: none;
    font-size: 1.2vw;
    font-weight: 700;
    text-align: center;
    padding: 3px 7px;
    cursor: pointer;
    color: #333333;
    background-color: #ffffff;
}
.edit_button.active {
    color: #333333;
}
.resize {
    background: #63c593;
    border-radius: 10px;
    border: 2.5px solid #ffffff;
    width: 5px;
    height: 5px;
    position: absolute;
    box-shadow: 0 0 2px #555555;
    z-index: 1;
    opacity: 0.9;
    -moz-user-select: none;
}
.not_draggable .resize {
    display: none;
}
.resize.nw {
    top:-5px;
    left:-5px;
    right:auto;
    bottom:auto;
    cursor:nwse-resize;
}
.resize.n {
    top:-5px;
    left:calc(50% - 5px);
    right:auto;
    bottom:auto;
    cursor:ns-resize;
}
.resize.ne {
    top:-5px;
    left:auto;
    right:-5px;
    bottom:auto;
    cursor:nesw-resize;
}
.resize.w {
    top:calc(50% - 5px);
    left:-5px;
    right:auto;
    bottom:-5px;
    cursor:ew-resize;
}
.resize.e {
    top:calc(50% - 5px);
    left:auto;
    right:-5px;
    bottom:-5px;
    cursor:ew-resize;
}
.resize.sw {
    top:auto;
    left:-5px;
    right:auto;
    bottom:-5px;
    cursor:nesw-resize;
}
.resize.s {
    top:auto;
    left:calc(50% - 5px);
    right:-5px;
    bottom:-5px;
    cursor:ns-resize;
}
.resize.se {
    top:auto;
    left:auto;
    right:-5px;
    bottom:-5px;
    cursor:nwse-resize;
}
@media (pointer: coarse) {
    .resize {
        width:15px;
        height:15px;
        border: 7.5px solid white;
        border-radius: 30px;
    }

    .resize.nw {
        top:-15px;
        left:-15px;
        right:auto;
        bottom:auto;
        cursor:nwse-resize;
    }

    .resize.n {
        top:-15px;
        left:calc(50% - 15px);
        right:auto;
        bottom:auto;
        cursor:ns-resize;
    }
    .resize.ne {
        top:-15px;
        left:auto;
        right:-15px;
        bottom:auto;
        cursor:nesw-resize;
    }
    .resize.w {
        top:calc(50% - 15px);
        left:-15px;
        right:auto;
        bottom:-15px;
        cursor:ew-resize;
    }
    .resize.e {
        top:calc(50% - 15px);
        left:auto;
        right:-15px;
        bottom:-15px;
        cursor:ew-resize;
    }
    .resize.sw {
        top:auto;
        left:-15px;
        right:auto;
        bottom:-15px;
        cursor:nesw-resize;
    }
    .resize.s {
        top:auto;
        left:calc(50% - 15px);
        right:-15px;
        bottom:-15px;
        cursor:ns-resize;
    }
    .resize.se {
        top:auto;
        left:auto;
        right:-15px;
        bottom:-15px;
        cursor:nwse-resize;
    }
}
.center {
    text-align: center;
}

.drop_upload {
    position: relative;
}
.drop_upload label {
    display: block;
}
.button.icon {
    background: #0091e1;
    color: #ffffff;
    padding: 1vw 1.2vw .8vw 1.2vw;
    font-size: 2vw;
    margin-left: -1vw;
}
.button.icon:hover {
    background: #005fac;
    color: #ffffff;
}
.icon_label {
    margin-left: 1vw;
    color: #4c5c67;
    padding-top: 0.3vw;
    display: inline-block;
    font-size: 2.4vw;
    cursor: pointer;
}
#drop_area {
    border: 2px dashed #ffffff;
    max-width: 80%;
    padding: 3vw;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    min-height: 46vw;
}
#drop_area.highlight {
    border-color: #4ea864;
    background-color: #ffffff;
}
#progress_bar {
    width: 100%;
    display: none;
}
#drop_area .info {
    margin-top: 40%;
}
#drop_area .info li {
    text-align: center;
}
#file_to_upload {
    display: none;
}
#list_uploading_images li {
    width: auto;
    height: 5vw;
    padding: 1vw;
    border-bottom: 1px solid #cccccc;
    font-size: 1.5vw;
}
#list_uploading_images img {
    max-height: 5vw;
    vertical-align: middle;
    margin-right: 2vw;
}
.error_message .dismiss {
    position: absolute;
    left: auto;
    top: 0;
    right: 0;
    padding: 2vw;
    color: #cc0000;
    cursor: pointer;
    font-size: 3vw;
}
.error_message {
    position: relative;
    margin-left: 4vw;
    max-width: 70%;
    padding: 4vw 6vw;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    min-height: 46vw;
    color: #222222;
}
table {
    border-collapse: collapse;
}
table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2vw;
    background-color: transparent
}

table td, table th {
    padding: 1vw;
    vertical-align: top;
    border-top: 1px solid #82919b;
    font-size: 1.2vw;
}
table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    text-align: left;
}
table tbody + tbody {
    border-top: 2px solid #dee2e6
}
table tbody tr:hover {
    background-color: rgba(0, 0, 0, .075)
}
thead {
    display: table-header-group
}
p{
    margin-bottom: 1vw;
}
@media screen and (max-width: 768px) {
    .footer a,
    .navigation a,
    .postcard_tab a
    {
       font-size: 3vw;
    }
    .half {
        width: 100%;
    }
    #drop_area {
        max-width: 90%;
    }
    input[type=text],
    textarea {
        font-size: 3vw;
        max-width: 88vw;
    }
    input[type=button],
    button,
    table td, table th {
        font-size: 2.5vw;
    }
    .navigation:after {
        padding-bottom: 7.5vw;
    }
    .navigation a {
        padding: 2.5vw 0vw 2.7vw 4vw;
        height: 2.3vw;
    }
    .navigation a.icon {
        padding: 2.5vw 2.5vw 2.7vw 2.5vw;
        height: 2.3vw;
    }
    table {
        display: block;
        width: 100%;
        overflow-x: auto;
        border: 0;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }
}